<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1><%= product.title %></h1>
        <hr>
        <div class="image">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <%- include('../includes/addToCart.ejs') %>
    </main>
    <%- include('../includes/end.ejs') %>